/* Apply to all number inputs */
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

/* Remove spin buttons for WebKit browsers */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* input{
  padding: 3rem;
} */

.faZveH {
  min-width: 50px !important;
}
.lnOUep {
  white-space: pre-wrap !important;
}


.DrawerBody{
  overflow: hidden;
  /* opacity: 0.5; */
}
.DarkMode{
  /* background-color:rgba(0,0,0,0.5) !important;
  color:red */
}
.AddManDaysAnimation{
  animation-name: animated_mandays;
  animation-duration: 1s;
  z-index: 10;
}
@keyframes animated_mandays {
  0%   {left:0px; top:-3.7rem;}

  100% {left:0px; top:-0.3rem;}
}
.removeManDaysAnimation{
  animation-name: animated_mandays_remove;
  animation-duration: 1s;
}

.table .sc-dmXWDj{
  overflow-x: visible !important;
  overflow-y: visible !important;
}
.table.sc-ePzkNi , .table div{
  overflow-y: visible !important;
  overflow-x: visible !important;
}
.table>div>.byCybj {
  background-color: #fff !important;
}


.opration_btn {
  position: absolute;
  top: 0;
  right: 3.5rem;
}
.opration_btn_bottom {
  position: absolute;
  bottom: 0;
  right: 3.5rem;
}