input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.faZveH {
  min-width: 50px !important;
}
.lnOUep {
  white-space: pre-wrap !important;
}


.DrawerBody{
  overflow: hidden;
}

.AddManDaysAnimation{
  animation-name: animated_mandays;
  animation-duration: 1s;
  z-index: 10;
}
@keyframes animated_mandays {
  0%   {left:0px; top:-2.7rem;}

  100% {left:0px; top:-0.3rem;}
}
.removeManDaysAnimation{
  animation-name: animated_mandays_remove;
  animation-duration: 1s;
}
.table .sc-dmXWDj {
  overflow-x: visible !important;
  overflow-y: visible !important;
}

.table.sc-ePzkNi,
.table div {
  overflow-y: visible !important;
  overflow-x: visible !important;
  /* z-index: 50; */
}
.sc-eywPal{
  display: none !important;
  opacity: 0 !important;
}

.opration_btn {
  position: absolute;
  top: 0;
  right: 3.5rem;
}
.opration_btn_bottom {
  position: absolute;
  bottom: 0;
  right: 3.5rem;
}


.management-panel {
  font-family: Arial, sans-serif;
}

.panel-content {
  display: flex;
}

.user-list-section,
.hierarchy-section {
  padding: 16px;
}

.droppable-list {
  margin: 8px;
  padding: 8px;
  border: 1px solid gray;
  min-width: 200px;
  background-color: #f0f0f0;
}

.draggable-item {
  user-select: none;
  padding: 16px;
  margin: 0 0 8px 0;
  background-color: #fff;
  color: #333;
}

.hierarchy-tree {
  display: flex;
  flex-direction: column;
}

.tree-node {
  position: relative;
  margin-left: 16px;
}

.tree-node::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -20px;
  border-left: 2px solid gray;
  border-bottom: 2px solid gray;
  width: 20px;
  height: 20px;
}

.tree-node-content {
  margin-left: 20px;
}

.branch {
  margin-left: 20px;
  padding-left: 20px;
  border-left: 2px solid gray;
}